{% extends "app1/base.html" %}
{% block content %}
  <div class="container">
    <h2>Trang cá nhân</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Họ tên:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    {% if staff_info %}
      <p><strong>Số điện thoại:</strong> {{ staff_info.phone_number }}</p>
      <p><strong>Số CCCD:</strong> {{ staff_info.id_number }}</p>
      <p><strong>Trường đại học:</strong> {{ staff_info.university }}</p>
      <p><strong>Chuyên ngành:</strong> {{ staff_info.major }}</p>
      <p><strong>Năm tốt nghiệp:</strong> {{ staff_info.graduation_year }}</p>
      <p><strong>Ngày sinh:</strong> {{ staff_info.birth_date }}</p>
      <p><strong>Vị trí làm việc:</strong> {{ staff_info.role }}</p>
      <p><strong>Chức vụ:</strong> 
        {% if staff_info.is_manager %} Trưởng phòng khám 
        {% else %} Không 
        {% endif %}
      </p>
    {% else %}
      <p class="text-danger">Không có thông tin nhân viên.</p>
    {% endif %}

    <a href="{% url 'edit_account' %}" class="btn btn-warning">Sửa thông tin</a>
  </div>
{% endblock %}

